@font-face {
  font-family: 'font-icon';
  src: url('../fonts/font-icon/font-icon.eot?6fgqfq');
  src: url('../fonts/font-icon/font-icon.eot?6fgqfq#iefix')
      format('embedded-opentype'),
    url('../fonts/font-icon/font-icon.ttf?6fgqfq') format('truetype'),
    url('../fonts/font-icon/font-icon.woff?6fgqfq') format('woff'),
    url('../fonts/font-icon/font-icon.svg?6fgqfq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ets-icon-'],
[class*=' ets-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ets-icon-plus:before {
  content: "\e900";
}
.ets-icon-times:before {
  content: "\e901";
}
.ets-icon-sort:before {
  content: "\e902";
}
.ets-icon-check:before {
  content: "\e903";
}
.ets-icon-arrow-left:before {
  content: "\e904";
}
.ets-icon-arrow-right:before {
  content: "\e905";
}
.ets-icon-list:before {
  content: "\e9ba";
}
